html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
/****************顶部****************/
#header {
    font-size: 16px;
    color: white;
    align-items: center;
    background-color: #1e78dc;
}

.logo {
    height: 80px;
    align-items: center;
    padding: 0 0 0 32px;
    display: flex;
    justify-content: flex-start;
}

.logo span {
    font-size: 24px;
    width: 64px;
    margin-right: 16px;

}
.logo img {

    height: 64px;
}

.logo h1 {
    font-size: 32px;
    font-weight: 600;
    margin-left: 32px;
    width: 128px;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 48px;
    background-color: #1450c8;
}

nav {
    display: flex;
    gap: 32px;
    padding: 0 32px 0 0
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #1e78dc;
}

/*
.divider{
    height:8px;
    box-shadow:3px rgba(0, 0, 0, 0.1);
}
    */
/****************地图****************/
#map {
    height: calc(100vh - 128px);
}
.leaflet-control-attribution {
    display: none !important;
}
/****************类型切换工具条****************/
#type-toolbar {
    position: absolute; 
    top: 136px;
    left: 8px;
    z-index: 1000;
    display: flex;
    flex-direction: column; /* 垂直排列按钮 */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.type-button {
    border: 1px solid #ccc;
    background: #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    width: 38px;
    height: 38px;
}

.type-button.selected {
    background: #007bff;
    color: white;
    font-weight: bold;
}
/****************地图工具条****************/
/* 工具条样式 */
#toolbar {
    position: absolute;
    top: 136px;
    right: 8px;
    gap: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

#toolbar button {
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toolbar button:hover {
    color: white;
    background-color: #1450c8;
}
/****************时间滑动条****************/
#timeline-container {
    position: absolute;
    left: 8px;
    bottom: 8px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 380px;
    z-index: 1000;
}

#timeline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

#play-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

#play-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e78dc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#timestamp {
    font-size: 14px;
    font-weight: 500;
}

#time-buttons {
    display: flex;
    gap: 8px;
}

#date-picker {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

#time-button {
    padding: 4px 12px;
    font-size: 14px;
    background-color: #ECFDF5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#time-button:hover {
    background-color: #D1FAE5;
}

#timeline-slider {
    width: 100%;
    height: 4px;
    background: #E5E7EB;
    border-radius: 4px;
    appearance: none;
    outline: none;
}

#timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #1e78dc;
    border-radius: 50%;
    cursor: pointer;
}

#timeline-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #1e78dc;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
/****************图例****************/
/* 渐变条容器样式 */
#gradient-bar-container {
    position: absolute;
    bottom: 8px; /* 与时间条对齐 */
    right: 8px; /* 靠右对齐 */
    background: rgba(255, 255, 255, 0.9);
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    width: 380px; /* 渐变条宽度 */
}

/* 渐变条样式 */
#gradient-bar {
    height: 24px;
    background: linear-gradient(to right, rgb(41,45,149), rgb(255,255,190), rgb(165,0,38)); /* 蓝黄红渐变 */
    border-radius: 5px;
    z-index: 1000;
}
/****************底部****************/
#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    font-size: 14px;
    text-align: center;
    color: #1e78dc;
    font-weight: bold;
    text-decoration: underline;
    /*background-color: rgb(5, 150, 105);*/
}